<h1>here are the genres !</h1>

<ul>
    <% @genres.each do |genre| %>
        <li> <%= link_to genre.name, genre_path(genre) %> </li>
    <% end %>

    <%= link_to "List a new genre!", new_genre_path %>
    <%= link_to "Home!", root_path %>

</ul>