<h1>here are the artists !</h1>

<ul>
    <% @artists.each do |artist| %>
        <li> <%= link_to artist.name, artist_path(artist) %> </li>
    <% end %>

    <%= link_to "List a new artist!", new_artist_path %>
    <%= link_to "Home!", root_path %>

</ul>